.navbar-inverse {
	background-color: #17A541;
	border: none;
	width: 100%;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-weight: 800;
	letter-spacing: 2px;
	text-transform: uppercase; 
}
.navbar-inverse .navbar-nav>li>a{
	color: white;
	font-size: 12px;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all .3s;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #333;
}
.navbar-toggle {
	border: 0;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: none;
	border: 0;
}

.navbar-inverse .navbar-collapse {
	border-color: #fff
}
@media screen and (min-width: 768px) {
	.navbar-brand {
		display: none
	}
	.navbar-inverse .navbar-nav>li>a{
		padding: 15px 8px;
	}
	.navbar-inverse {	
		padding: 30px 0px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-nav {
		float: none;
		text-align: center;
	}
	.navbar-inverse .navbar-nav>li {
		display: inline-block;
		float: none;
	}
	.navbar-right {
		float: none !important;
		margin: 0 !important;
		text-align: center;
	}
}
@media screen and (min-width: 992px) {
	.navbar-inverse {	
		height: 110px;
	}
}